body {
    background: url('/assets/Garden\ Meadows.jpg');
    background-position: center;
    background-size: cover;
}

.container{
    max-width: 800px;
}
.icon{
    position: relative;
    top: -50px;
    border-radius: 50%;
    width: 100px;
    margin-bottom: -50px;
}